* {
    box-sizing: border-box;
  }

  /* Style the body */
  body {
    font-family: Arial;
    margin: 0;
  }

  /* Header/logo Title */
  .header {
    text-align: center;
    background: #1abc9c;
    background-image: url(../images/4.jpg);
    height: 300px;
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }

  /* Style the top navigation bar */
  nav {
    display: flex;
    background-color: #333;
  }

  /* Style the navigation bar links */
  nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
  }

  /* Change color on hover */
  nav a:hover {
    background-color: #ddd;
    color: black;
  }

  /* Column container */
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 20%;
    background-color: #f1f1f1dc;
    padding: 20px;
  }

  /* Main column */
  .main {
    flex: 80%;
    background-color: white;
    padding: 20px;
  }

  /* Fake image, just for this example */
  .fakeimg {
    /* background-color: transparent; */
    width: 100%;
    /* padding: 20px; */
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }

  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row,
    nav {
      flex-direction: column;
    }
  }
  .side strong {
    font-size: 20px;
    color: rgb(12, 55, 150);
  }
  .main strong {
    font-size: 30px;
  }
  p {
    text-align: justify;
  }